<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdservice.mapper.GoodsMapper">
    <insert id="addGood">
        insert into goods(merchant_id, category_id, pic, title, price, is_show, create_time, update_time, status, des, click_times)
        value (#{merchantId}, #{categoryId}, #{pic}, #{title}, #{price}, #{isShow}, #{createTime}, #{updateTime}, #{status}, #{des}, #{clickTimes})
    </insert>
    <update id="update">
        update goods
        set category_id = #{categoryId}, title = #{title}, price = #{price}, is_show = #{isShow}, update_time = #{updateTime}, status = #{status}, des = #{des}
        where id = #{id}
    </update>
    <update id="updatePicStr">
        update goods
        set pic = #{picStr}
        where id = #{id}
    </update>
    <update id="updateClickCount">
        <foreach collection="params" item="count" index="goodsId" separator=";">
            update goods
            set click_times = #{count}
            where id = #{goodsId}
        </foreach>
    </update>
    <update id="modifyStatus">
        update goods
        set status = #{status}
        where id = #{goodsId}
    </update>

    <select id="getCategoryList" resultType="com.mdservice.entity.Category">
        select * from category
    </select>
    <select id="getCategoryGoods" resultType="com.mdservice.entity.Goods">
        select *
        from goods
        <where>
            category_id = #{id}
        </where>
    </select>
    <select id="getMerchantGoods" resultType="com.mdservice.entity.Goods">
        select *
        from goods
        <where>
            merchant_id = #{id}
        </where>
    </select>
    <select id="getGood" resultType="com.mdservice.entity.Goods">
        select *
        from goods
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getGoods" resultType="com.mdservice.domain.vo.GoodsVO">
        select *
        from goods
        where id IN
        <foreach collection="top10" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="categoryIdAdmin" resultType="com.mdservice.entity.Goods">
        select *
        from goods
        where category_id = #{id}
    </select>

</mapper>