<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：映射器的命名空间，通常对应接口的全限定名 -->
<mapper namespace="com.mdservice.mapper.userMapper.UserMapper">
    <insert id="registerAccount">
        insert into user (account, password, gender, username, role, is_show, create_time, updateTime)
        value (#{account}, #{password}, #{gender}, #{username}, #{role}, #{isShow}, #{createTime},#{updateTime})
    </insert>
    <!-- 查询语句 -->
    <select id="queryAccount" resultType="Long">
        SELECT count(*) from user
        <where>
            account = #{account}
        </where>
    </select>
    <select id="queryUser" resultType="com.mdservice.entity.User">
        select id, account, gender, role, username, password,is_show,create_time,update_time
        from user
        where account = #{account}
    </select>
</mapper>